[submodule "PayloadsAllTheThings"]
	path = PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
[submodule "SecLists"]
	path = SecLists
	url = https://github.com/danielmiessler/SecLists
[submodule "bruteforce-lists"]
	path = bruteforce-lists
	url = https://github.com/random-robbie/bruteforce-lists
[submodule "fuzzDicts"]
	path = fuzzDicts
	url = https://github.com/TheKingOfDuck/fuzzDicts
[submodule "leaky-paths"]
	path = leaky-paths
	url = https://github.com/ayoubfathi/leaky-paths
[submodule "many-passwords"]
	path = many-passwords
	url = https://github.com/many-passwords/many-passwords
[submodule "resolvers"]
	path = resolvers
	url = https://github.com/trickest/resolvers
[submodule "wordlists"]
	path = wordlists
	url = https://github.com/trickest/wordlists
[submodule "fingerprint/fingers"]
	path = fingerprint/fingers
	url = https://github.com/chainreactors/fingers.git
[submodule "fingerprint/FingerprintHub"]
	path = fingerprint/FingerprintHub
	url = https://github.com/0x727/FingerprintHub.git
[submodule "fingerprint/EHole"]
	path = fingerprint/EHole
	url = https://github.com/EdgeSecurityTeam/EHole.git
[submodule "nuclei-templates"]
	path = nuclei-templates
	url = https://github.com/projectdiscovery/nuclei-templates
[submodule "fingerprint/cdncheck"]
	path = fingerprint/cdncheck
	url = https://github.com/projectdiscovery/cdncheck
[submodule "public-bugbounty-programs"]
	path = public-bugbounty-programs
	url = https://github.com/projectdiscovery/public-bugbounty-programs
